body {
    background-color: #888;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: georgia;
}

.description {
    text-align: center;
    padding-top: 30px;
    font-family: Comic Sans MS;
    font-size: 2em;
}

.container {
    width: 745px;
    overflow:auto;
    margin-left: 8px;
    margin-right: 100px;
    position: absolute;
}
.container2 {
    width: 745px;
    overflow:auto;
    margin-left: 108px;
    margin-right: 10px;
    position: relative;
    float: right;
}

.Player {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    height: 90px;
    width: 70px;
}

.Player_photo {
    height: 80%;
}

.Player_name {
    height: 20%;
    color: white;
    text-shadow: 2px 2px #000000;
}

.offence {
    display: table;
    text-align: center;
    width: 500px;
    height: 90px;
    margin-left: 120px;
}

.midfield {
    display: table;
    text-align: center;
    width: 500px;
    height: 90px;
    margin-left: 120px;
}

.defence{
    display: table;
    text-align: center;
    width: 500px;
    height: 90px;
    margin-left: 120px;
}

.goalkeep {
    display: table;
    text-align: center;
    width: 500px;
    height: 90px;
    margin-left: 120px;
}
.offence2 {
    display: table;
    text-align: center;
    width: 500px;
    height: 90px;
    margin-left: 120px;
}

.midfield2 {
    display: table;
    text-align: center;
    width: 500px;
    height: 90px;
    margin-left: 120px;
}

.defence2 {
    display: table;
    text-align: center;
    width: 500px;
    height: 90px;
    margin-left: 120px;
}

.goalkeep2 {
    display: table;
    text-align: center;
    width: 500px;
    height: 90px;
    margin-left: 120px;
}